body {
  background-color: black;
}

.App {
  text-align: center;
}

.App-header {
  color: yellow;
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: -0.5%;
}