body {
  background-color: rgb(243, 205, 158);
  
}

.App {
  text-align: center;
}

.App-header {
  color: rgb(138, 19, 19);
  font-size: 3rem;
  font-weight: 600;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 2%;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}

input {
  text-align: center;
  margin: 10px;
  padding: 3px;
  width: 250px;
  font-size: medium;
}

button {
  width: 260px;
  margin: 5px;
  padding: 5px;
}

img {
  max-width: 100px;
  padding: 1%;
}

img:hover {
  border: 2px solid rgb(249, 249, 43);
  cursor: pointer;
}

#contenedor-imagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1%
}